repos:
  - repo: local
    hooks:
      - id: pylint
        name: Run pylint
        entry: poetry run pylint
        language: system
        types: [python]
      
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3 